extends layout
block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            p
                |This app is build as part of project in City University course full stack development.
                |This course is instructed by Professor Mike Prasad.
                <br><br>
                    | The app is developed by : Pooja Upadhyay
                    <br><br>
                    | Project report on this application is prepared by : Sreelekha and Emmanuel
                    <br><br>
                    | Project report reviewed and edited by : Pooja Upadhyay
                    <br><br>
                    | Please mail us on upadhyaypooja@cityuniversity.edu for more information
                    <br><br>
                    | THANK YOU !!!
                   
                <br><br>

                    | HAPPY LEARING !!!