extends layout
block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            p
                |This app is build as part of project in City University course full stack development.
                |This course is instructed by Professor Mike Prasad.
                <br><br>
                    | The app is developed by below team members:
                    <br><br>
                    |-Pooja Upadhyay
                    <br>
                    |-Emanuel
                    <br>
                    |-Shreelekha
                    <br>
                <br><br>

                    | HAPPY LEARING !!!