extends layout
//-h1= title
//-p Welcome to #{title}

block content
    .row.banner
        .col-12
            h1.navbar-header Your book has been added!!! 
                small &nbsp; <br> Please visit us again <br> Thank You !!
    .row
        .col-12.col-md-8
            p 

            | To add more book please click on Add new book !!
            <br>
            | To know about Bookstore click on Home !! 
            
        
        
