extends layout
block content
    .row.banner
        .col-12
            h1 Enter book name to search 
    .row
        .col-12.col-md-8
            form(action="/bookdetails", method="post", role="form")
                .form-group.row
                    label.col-10.col-sm-2.col-form-label(for="name") Name
                    .col-12.col-sm-10
                        input#name.form-control(name="name")
                button.btn.btn-primary.float-right Search book
    .col-12.col-md-4   