extends layout
//-h1= title
//-p Welcome to #{title}

block content
    .row.banner
        .col-12
            h1 Bookstore
                small &nbsp; a new beginning something new !!!
    .row
        .col-12.col-md-8
        p
        |My Book Stroe app offers you building your own book collection by adding from our tremendous gathering of books in various classification of Fiction, Non-fiction, Biographies, History, Religions, Self – Help, Children. 
        <br><br>
            | This app has following functoinality to entertain you 
            <br><br>
            |-Check the list of the book by clicking on the list 
            <br>
            |-Check the details of the books by clicking on Book Details 
            <br>
            |-Add you book by clicking on Add new book 
            <br>
            |-Edit the book details by clickig on Edit Details
            <br>

            |-Delete the book fron the list by clicking on Delete 
        <br><br>
            | HAPPY LEARING !!!


        .col-12.col-md-4
            p.Lead Bookstore helps to find books to read and enjoy at home.
