extends layout
//-h1= title
//-p Welcome to #{title}

block content
    .row.banner
        .col-12
            h1 Bookstore
                small &nbsp; a new beginning !!!
    .row
        .col-12.col-md-8
            p
        |My Book Store app offers you building your own book collection by adding from our tremendous gathering of books in various classification of Fiction, Non-fiction, Biographies, History, Religions, Self – Help, Children. 
        <br><br>
            | This app has following functoinality to entertain you 
            <br><br>
            |-Check the list of the book by clicking on the List Books page.
            <br>
            |-Check the details of the books by clicking on Book Details page.
            <br>
            |-Add a book by clicking on Add new book page.
            <br>
            |-Modify the book details by clickig on Edit Details page.
            <br>
            |-Delete the book fron the list by clicking on Delete page.
        <br><br>
            | HAPPY LEARING !!! 
