extends layout
block content
    .row.banner
        .col-12
            h1 List of books added by the user
    .row
        .col-12.col-md-8

    each element in items
        li=element.name

    .col-12.col-md-4   