extends layout
block content
    .row.banner
        .col-12
            h1 Startcups
    .row 
        .col-12.col-lg-9
            .row 
                .col-12.col-md-6
                    p.rating
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                    p 125 High Street, Reading, RG6 1PS
                    .card.card-primary
                        .card-block
                            h2.card-title Opening hours
                            p.card-text Monday - Friday : 7:00am - 7:00pm
                            p.card-text Saturday : 8:00am - 5:00pm
                            p.card-text Sunday : closed
                    .card.card-primary
                        .card-block
                            h2.card-title Facilities
                            span.badge.badge-warning
                                i.fa.fa-check
                        







